In [ ]:
import numpy as np

In [ ]:
name = input("Please enter your good name: ")
print("Hello " + name)

Please enter your good name: test
Hello test

In [ ]:
num = input("Please enter some number: ")

if (num == 5):
  print("It is five")
else:
  print("Other than five and actually it is a value " + num)

Please enter some number: 89
Other than five and actually it is a value 89

In [ ]:
input = 2

score = input ** 3

print(input, score)

2 8

In [ ]:
price = 8.00

tax = price * (10/100)

print(price, tax, (price+tax))

8.0 0.8 8.8

In [ ]:
happy = "Happy Birthday to You "
name = "Khan "
song = happy + happy + "happy birthday dear " + name + happy

print(song)

Happy Birthday to You Happy Birthday to You happy birthday dear Khan Happy Birthday to You

In [ ]:
age = 25
print("Your age is " + str(age))

Your age is 25

In [ ]:
len(song)

91

In [ ]:
my_list = [1, 2 ,3, 7, "Hasan", 3.14, True]

my_list.append("adil")

print(my_list)

[1, 2, 3, 7, 'Hasan', 3.14, True, 'adil']

In [ ]:
oranges = 5
apples = 7

not(oranges > 6)

True

In [ ]:
quiz_score = int(input("Please enter your quiz score: "))

if quiz_score >= 8:
  print("You're a quiz champion!")
elif quiz_score >= 5:
  print("Could do better!")
elif quiz_score >= 2:
  print("Poor soul!")  
else:
  print("Were you actually awake?")

Please enter your quiz score: 1
Were you actually awake?

In [ ]:
quiz_score = int(input("Please enter your exam score: "))

if quiz_score >= 88:
  print("Your Grade is A")
elif quiz_score >= 80:
  print("Your Grade is B+")
elif quiz_score >= 74:
  print("Your Grade is B")
elif quiz_score >= 68:
  print("Your Grade is C+")
elif quiz_score >= 60:
  print("Your Grade is C")
else:
  print("Your Grade is F. Better luck next time.")

Please enter your exam score: 82
Your Grade is B+

In [ ]:
for counter in range(1, 10):
  print(counter, "I am really very sorry")

1 I am really very sorry
2 I am really very sorry
3 I am really very sorry
4 I am really very sorry
5 I am really very sorry
6 I am really very sorry
7 I am really very sorry
8 I am really very sorry
9 I am really very sorry

In [ ]:
with open("/content/drive/MyDrive/Colab Notebooks/Data/fifa.csv", "r") as file1:
    FileContent = file1.read()
    #print(FileContent)

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Data/fifa.csv")

          id                     name   rating  ...  reflexes   speed  positioning
0       1001             Gábor Király       69  ...        74      35         66.0
1     100143             Frederik Boi       65  ...                            NaN
2     100264          Tomasz Szewczuk       57  ...                            NaN
3     100325   Steeve Joseph-Reinette       63  ...                            NaN
4     100326             Kamel Chafni       72  ...                            NaN
...      ...                      ...      ...  ...       ...     ...          ...
8842    9801          Danijel Ljuboja       73  ...                            NaN
8843    9805            Craig Bellamy       79  ...                            NaN
8844    9807            Michel Breuer       68  ...                            NaN
8845    9815              Gill Swerts       65  ...                            NaN
8846    9913              Mehdi Nafti       69  ...                            NaN

[8847 rows x 19 columns]